.cart-nav {
    cursor: pointer !important;
}
.cart-drop {
    cursor: pointer !important;
}
.nav-inline {
    display: inline-block;
    /* padding-top: .3125rem; */
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand{
    margin-bottom: 1rem !important;
}

.navbar {
    padding-bottom: 0 !important;
}

.my-container {
    padding: 2rem;
    position: relative;
    min-height: 100vh;
    /*background-color: darkgray;*/
}

.card-bottom{
    margin-bottom: 2rem;
}

/*.card {*/
/*    !*border: solid black 1px !important;*!*/
/*    box-shadow: 5px 10px #888888 !important;*/
/*}*/


.card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: 60%;
}
.card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
}

.card-img-wrapper img {
    transition: 1.5s ease;
}
.card:hover .card-img-wrapper img {
    transform: scale(1.15);
}
.card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
}
.card:hover .card-body .card-title {
    margin-bottom: .75rem;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background-color: #fff;
    transition: 1.5s ease;
}

.card:hover .card-body {
    height: 60%;
}


/* Shopping-Cart */


.param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
}

.shopping-cart-wrap .price {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
var {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}
.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}


